  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.box{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    background-color: rgb(235, 244, 246);
    
      background: linear-gradient(135deg, rgb(235,244,246),rgb(8,131,149)); 
       align-items: center; 
      justify-content: center;  
      padding: 25px 30px; 
     border-radius: 15px;  

}
 
.title{
    margin-bottom: 20px;
    color:#000000;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    padding: 50px 60px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}
.box form .user-details{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}
.user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
    margin: 20px 0px 12px 0;
    margin-bottom: 15px;
    display: block;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    border:1px solid  rgb(235, 244, 246);
    font-size: 16px;
    border-bottom-width: 2px;
    transform: all 0.3s ease;
    font-size: 15px;
    padding:10px; 

  }
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:  rgb(159, 219, 232);
}

form .gender-details .gender-title{
    font-size: 16px;
    font-weight: 500;
     

 
}
form .gender-details .options{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    border:1px solid  rgb(235, 244, 246);
    font-size: 16px;
    border-bottom-width: 2px;
    transform: all 0.3s ease;
}
form .button{
    height: 45px;
    margin: 20px 0px;

}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color:   rgb(235, 244, 246);
    background: linear-gradient(135deg, rgb(235,244,246),rgb(8,131,149));  
      background-color: rgb(8,131,149);
    transition: transform 0.3s ease;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;

}
form .button input:hover{
      background: linear-gradient(135deg, rgb(235,244,246),rgb(8,131,149));
    background-color: rgb(8,131,149);
      background-color: rgb(55, 183, 195);
    transform: scale(1.05); 

}
h1 {
    font-size: 35px;
    font-weight: 500;
}


 input { 
    padding: 8px;
    font-size: 1em;
} 

@media (max-width: 584px){
    .box{
        max-width:100% ;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .box form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;

    }
}

@media (max-width: 815px){
    .user-details .input-box input,
    .gender-details .options{
        font-size:14px ;
    }
}


@media (max-width: 775px){
    .user-details .input-box input,
    .gender-details .options{
        font-size:13px ;
    }
}